<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="localhost:8080/scripts/calc.js"></script>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .jumbotron {
            margin-top: 10px;
        }
    </style>
<script>
function calculateRate()
{
  var postage = 1.00;

//alert('working');
  document.getElementById('price').innerHTML = '$' +postage.toFixed(2);
} 


</script>
</head>

<body>
    <div class="container">
        <%- include('partials/navbar') %>
            <div class="jumbotron">
                <h1>Postal Rate Calculator</h1>
                <p class="lead">This is the rate veiw</p>
            </div>

            <div class="container">
                <h2>Step 1</h2>
                <form>
                    <label for="optradio">Select Postage Type:</label>
                    </br>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Letters (Stamped)
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Letters (Metered)
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Large Envelopes (Flats)
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Parcels
                    </label>
                <h2>Step 2</h2>
                    <div class="form-group col-sm-2">
                        <label for="sel1">Select Weight (in oz):</label>
                        <select class="form-control" id="sel1" onchange="calculateRate()">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </form>
                </br>
                
                <form>
                        
                    <div class="panel panel-default col-sm-1">
                       <label for="price">Price:</label>
                        <div class="panel-body" id ="price">$5.00</div>
                </form>
                </div>


</body>

</html>